.navbar-main{
    
    padding: 0 30px;
}

.nav-container{
    
}

.navbar-brand{
    font-weight: bold;
    width: 50%;
    font-size: 2rem !important;
}

.navbar-brand:hover{
    color: #000 !important;
}

.me-auto{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
}

.me-auto>*{
    font-size: 1.5rem;
}

.fa-solid{
    color: #fff;
}

.fa-solid:hover{
    color: #000;
}

.icon-text{
    display: none;
    font-size: 1rem;
}

.fa-right-from-bracket{
    color: #e55;
}

.fa-right-from-bracket:hover{
    color: #f00;
}


@media screen and (max-width: 991px) {
    .icon-text{
        display: inline;
        margin-left: 20px;
    }

    .me-auto{
        gap: 0;
    }
}